*.pdf
.DS_Store
*/.DS_Store
__pycache__/
data/icl*.csv
data/pol*
data/lab*.csv
data/*.npy
Sim/*
ICL/*
.Rhistory
Drosophila/*
Harry/*
INPUT.md
*talk.py
scripts/python_gmm.py
data/droso_labels_numbers.csv
data/drosophila_A.csv
scripts/drosophila_gmm.R
scripts/mi*
scripts/icl_extra.py
notebooks/.ipynb_checkpoints/*
Block_Sim/*
scripts/results_alternatives.txt
PGPDA-master/*
